#errmsg {
    transition: 0.1s all;
    color: red;
    font-weight: bold;
    font-size: 16px;
    opacity: 0;
    height: 0;
    display: table-cell;
    margin-top: 5px;
    margin-bottom: 5px;
    vertical-align: middle;
}

#museum .post textarea {
    height: 150px;
}