/* admin.css contains rules exclusive to admin.html */

#errmsg {
    color: red;
    display: table-cell;
    font-size: 16px;
    font-weight: bold;
    height: 0;
    margin-bottom: 5px;
    margin-top: 5px;
    opacity: 0;
    transition: 0.1s all;
    vertical-align: middle;
}

#museum .post textarea {
    height: 150px;
}

.init-hidden,
.init-hidden.spacer {
    display: none;
    /* width: 0; */
    /* height: 0; */
}