/* admin.css contains rules exclusive to admin.html */

#login-box {
    width: 460px;
    flex-direction: column;
}

#login-form {
    padding: 10px;
}

#errmsg {
    color: red;
    display: table-cell;
    font-size: 16px;
    font-weight: bold;
    height: 0;
    margin-bottom: 5px;
    margin-top: 5px;
    opacity: 0;
    transition: 0.1s all;
    vertical-align: middle;
}

.post {
    flex-direction: column;
}

.pane .post label {
    text-align: left;
}

.pane .post input {
    margin-left: 10px;
}

.post textarea {
    margin-top: 10px;
    margin-bottom: 10px;
}

#museum .post textarea {
    height: 150px;
}

.init-hidden,
.init-hidden.spacer {
    display: none;
    /* width: 0; */
    /* height: 0; */
}

@media (max-width: 1000px) {
    .post {
        width: 95%!important;
    }
}

.pane {
    /* margin-right: 2.5%; */
    opacity: 0;
    overflow: hidden;
    /* position: absolute; */
    transition: 0.25s all;
    width: 100%;
}
