/*  birthday.css contains all rules for the birthday.html easter egg */

:root {
    --brown: #570c0e;
    --silver: #c0c0c0;
}

@font-face {
    font-family: "Segoe UI";
    src: url("font/segoe-ui.ttf");
}

@font-face {
    font-family: "Candara";
    src: url("font/Candara.ttf");
}

@font-face {
    font-family: "Candara Bold";
    src: url("font/Candarab.ttf");
}

@font-face {
    font-family: "Candara Italic";
    src: url("font/Candarai.ttf");
}

body {
    background-color: black;
    font-family: "Segoe UI";
}

.header {
    background: white;
    color: var(--brown);
    font-family: Candara;
    font-size: 24px;
    padding-bottom: 2px;
    padding-top: 5px;
    text-align: center;
    width: 100%;
}

hr {
    border-color: turquoise;
    border-width: 5px;
    margin-bottom: 0;
    margin-top: 0;
}

.header2 {
    background-color: var(--silver);
    padding-bottom: 15px;
    padding-top: 15px;
}

h2 {
    background-color: white;
    color: var(--brown);
    font-family: Candara;
    font-size: 24px;
    padding-bottom: 25px;
    padding-top: 30px;
    text-align: center;
}

h4,
h5 {
    margin: 0px;
}

.pane {
    background-color: var(--silver);
    font-family: "Segoe UI";
    margin-right: 20px;
    opacity: 0;
    overflow: hidden;
    width: 100%;
}

.body-image {
    width: 370px;
}

.inner-line {
    border: 1px solid black;
}

#version {
    cursor: pointer;
}