/* common.css contains style rules that are used across multiple pages, such as colours. */

:root {
    --accent: #b20acb;
    /* --background-gradient: linear-gradient(90deg, rgba(89, 193, 115, 1) 0%, rgba(161, 127, 224, 1) 62%, rgba(110, 76, 172, 1) 100%); */
    --background-gradient: linear-gradient(180deg, #FC466B 0%, #3F5EFB 90%);
    --button-gradient: linear-gradient(90deg, #FC466B 0%, #3F5EFB 90%);
    --background-transparent: rgba(21, 24, 36, 0.5);
    /* --background: #151824; */
    --bold: #b20acb;
    /* --border: #ffffff; */
    --foreground: #ffffff;
    --highlight-transparent: rgba(128, 0, 128, 0.8);
    --highlight: #800080;
    --important: #b20acb;
    --link: #0acbb2;
    --text-dark: #151824;
    --text: #f1d7df;
    --border: goldenrod;
    --background: #020b14;
    --background-alt: black;
    --primary: goldenrod;
    --shadow: rgb(0 0 0 / 50%) 0px 2px 10px, rgb(0 0 0 / 50%) 0px -2px 10px;
    /* --text: white; */
    /* --text-dark: black; */
    /* --background-transparent: rgba(21, 24, 36, 0.5); */
}

@font-face {
    font-family: "Camaraderie";
    src: url("font/Camaraderie.otf");
}

@font-face {
    font-family: "Roboto";
    src: url("font/Roboto-Light.ttf");
}

@font-face {
    font-family: "Inconsolata";
    src: url("font/Inconsolata-Regular.ttf");
}

@font-face {
    font-family: "Raleway";
    src: url("font/Raleway-Regular.ttf");
}

@font-face {
    font-family: "Gilroy";
    src: url("font/Gilroy-ExtraBold.otf");
}

@font-face {
    font-family: "Gilroy Light";
    src: url("font/Gilroy-Light.otf");
}

.post b,
.blob b {
    color: var(--bold);
}

body {
    background: var(--background-gradient);
    background-attachment: fixed;
    font-family: "Roboto";
    height: max-content;
    margin: 0;
    overflow-x: hidden;
    text-shadow: 1px 1px 5px black, -1px 2px 5px black;
}

.content {
    background: transparent;
    color: var(--text);
    font-size: 18px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 100px;
    overflow: hidden;
    padding-top: 15px;
    width: 100%;
}

.link {
    border-color: var(--link);
    border-style: solid;
    border-width: 0;
    color: var(--link);
    font-weight: bold;
    padding: 0 !important;
    position: sticky;
    text-decoration: none;
    z-index: 0;
}

.link:before {
    -webkit-transition: all 0.1s;
    border-bottom: 2px solid;
    bottom: 0;
    box-shadow: black 0px 2px 5px;
    content: "";
    height: 2px !important;
    left: 0;
    position: absolute;
    transition: all 0.1s;
    width: 0;
    z-index: -1;
}

.link:hover:before {
    visibility: visible;
    width: calc(100% + 1px);
}

hr {
    border-top: 1px solid var(--border);
    border: none;
    height: 1px;
}

.row {
    background-color: var(--background-transparent);
    border: 1px solid var(--border);
    border-radius: 10px;
    display: -webkit-flex;
    display: flex;
    margin: 10px;
    padding: 10px;
    /* width: 95%; */
    box-shadow: var(--shadow);
}

@media (max-width: 1050px) {
    .row {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}

.column {
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    font-family: Roboto;
    padding: 10px;
    text-align: center;
}

i {
    font-size: 40px;
    padding-bottom: 2px;
    text-align: center;
    vertical-align: middle;
    width: 50px;
}

h3,
h4 {
    font-family: "Raleway";
}

@media (max-width: 1000px) {
    .nav {
        backdrop-filter: blur(5px);
        right: -230px;
        transition: 0.2s all;
        width: 200px;
    }
    .post,
    .blob {
        width: auto!important;
    }
    #close {
        display: -webkit-box;
    }
}