/* common.css contains style rules that are used across multiple pages, such as colours. */

:root {
    --accent: #b20acb;
    --background-gradient: linear-gradient(90deg, rgba(89, 193, 115, 1) 0%, rgba(161, 127, 224, 1) 62%, rgba(110, 76, 172, 1) 100%);
    --background-transparent: rgba(21, 24, 36, 0.5);
    --background: #151824;
    --bold: #b20acb;
    --border: #ffffff;
    --foreground: #ffffff;
    --highlight-transparent: rgba(128, 0, 128, 0.8);
    --highlight: #800080;
    --important: #b20acb;
    --link: #0acbb2;
    --text-dark: #151824;
    --text: #f1d7df;
}

@font-face {
    font-family: "Camaraderie";
    src: url("font/Camaraderie.otf");
}

@font-face {
    font-family: "Roboto";
    src: url("font/Roboto-Light.ttf");
}

@font-face {
    font-family: "Inconsolata";
    src: url("font/Inconsolata-Regular.ttf");
}

@font-face {
    font-family: "Raleway";
    src: url("font/Raleway-Regular.ttf");
}

@font-face {
    font-family: "Gilroy";
    src: url("font/Gilroy-ExtraBold.otf");
}

@font-face {
    font-family: "Gilroy Light";
    src: url("font/Gilroy-Light.otf");
}

b {
    color: var(--bold);
}

body {
    background: var(--background-gradient);
    font-family: "Roboto";
    height: max-content;
    margin: 0;
    overflow-x: hidden;
    text-shadow: 1px 1px 5px black, -1px 2px 5px black;
}

.header {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0) 50%, var(--foreground) 50%, var(--foreground) calc(50% + 2px), rgba(255, 255, 255, 0) calc(50% + 2px));
    border-bottom: solid var(--border) 2px;
    box-shadow: black 0px 2px 10px, black 0px -2px 10px;
    color: black;
    font-family: "Camaraderie";
    font-size: 2em;
    height: 3.2em;
    position: fixed;
    text-shadow: 1px 2px 3px black, -1px 2px 3px black;
    top: 0;
    width: 100%;
    z-index: 10;
}

#header-text {
    -webkit-text-stroke-color: var(--accent);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke: var(--accent) 2px;
    cursor: pointer;
    font-weight: normal;
    margin: 0px 20px 20px 2.5%;
    padding-top: 8px;
    paint-order: fill stroke;
    width: min-content;
}

#header-text:before {
    -webkit-text-stroke: 0;
    color: var(--foreground);
    content: "Owen Bowden";
    font-family: "Raleway";
    font-size: 18px;
    font-weight: normal;
    left: calc(2.5% + 106px);
    position: absolute;
    text-align: right;
    text-shadow: 1px 2px 3px black, -1px 2px 3px black;
    top: 76px;
}

#header-text:after {
    background-color: black;
    border: 2px solid var(--accent);
    box-shadow: 1px 2px 3px black, -1px 2px 3px black;
    content: " ";
    height: 10px;
    left: 2.5%;
    margin: -1px;
    position: absolute;
    top: 65px;
    width: 229px;
    z-index: -1;
}

.content {
    background: transparent;
    color: var(--text);
    font-size: 18px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 110px;
    overflow: hidden;
    padding-top: 15px;
}

.link {
    border-color: var(--link);
    border-style: solid;
    border-width: 0;
    color: var(--link);
    font-weight: bold;
    padding: 0 !important;
    position: sticky;
    text-decoration: none;
    z-index: 0;
}

.link:before {
    -webkit-transition: all 0.1s;
    border-bottom: 2px solid;
    bottom: 0;
    box-shadow: black 0px 2px 5px;
    content: "";
    height: 2px !important;
    left: 0;
    position: absolute;
    transition: all 0.1s;
    width: 0;
    z-index: -1;
}

.link:hover:before {
    visibility: visible;
    width: calc(100% + 1px);
}

hr {
    border-top: 1px solid var(--border);
    border: none;
    height: 1px;
}

.row {
    background-color: var(--background-transparent);
    border: 1px solid var(--border);
    display: -webkit-flex;
    display: flex;
    margin-left: 0px;
    padding: 10px;
}

@media (max-width: 1050px) {
    .row {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}

.column {
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    font-family: Roboto;
    padding: 10px;
    text-align: center;
}

i {
    font-size: 40px;
    padding-bottom: 2px;
    text-align: center;
    vertical-align: middle;
    width: 50px;
}

h3,
h4 {
    font-family: "Raleway";
}

@media (max-width: 1000px) {
    .nav {
        backdrop-filter: blur(5px);
        right: -230px;
        transition: 0.2s all;
        width: 200px;
    }
    .post,
    .blob {
        width: auto!important;
    }
    #close {
        display: -webkit-box;
    }
}