

/* Index-Exclusive */

.blob {
    border: 1px solid var(--border);
    border-radius: var(--border-radius);
    background: var(--background-transparent);
    backdrop-filter: var(--blur);
    -webkit-backdrop-filter: var(--blur);
    box-shadow: var(--shadow);
    padding: 10px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    transition: 0.2s ease all;
    cursor: pointer;
    width: 400px;
    height: 200px;
    margin-bottom: 15px;
    flex-basis: 33%;
}

@media (max-width: 960px) {
    .blob {
        flex-basis: auto;
    }
}

.blob:hover {
    transform: scale(1.023);
    z-index: 2;
}
.blob.noscale:hover {
    transform: none;
}

.blob > .blob-icon {
    color: var(--link);
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blob > .blob-header {
    color: var(--primary);
    width: 80%;
    margin: 0;
    font-family: 'Camaraderie';
    font-weight: normal;
    text-decoration: underline;
    font-size: 1.75em;
    height: 1.75em;
    line-height: 1.75em;
    /* font-variant-caps: small-caps; */
}

.blob > .blob-description {
    color: var(--text);
    width: 85%;
}

.blob.wide {
    width: 100%;
    height: auto;
    cursor: auto;
    flex-basis: 100%;
}

.blob.wide > .blob-header {
    width: 90%;
}

.blob.wide > .blob-description {
    width: 88%;
}

.blob-description > .flavour {
    color: var(--link);
    font-weight: bold;
}

.blob.potentially-overflowing {
    height: auto;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    width: -webkit-fill-available;
    height: 100px;
    border-top: var(--border) 4px double;
    background-color: var(--background-transparent);
    box-shadow: black 0px 2px 10px, black 0px -2px 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.footer > .footer-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.footer > .version-info > .foot-text.foot-text-big {
    color: var(--link);
    font-size: 20px;
    text-decoration: underline;
}

.footer > .version-info > .foot-text {
    color: var(--text);
    font-family: 'Gilroy Light';
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
}
.footer > .version-info > .foot-text.foot-text-small {
    font-weight: normal;
    font-size: 12px;
}
