

/* Index-Exclusive */

body {
    background-color: var(--background);
}

.content-wrapper {
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    /* height: -webkit-fill-available; */
    /* height: -moz-available; */
    height: 100%;
}

.content {
    padding-left: 5px;
    /* height: -webkit-fill-available; */
    /* height: -moz-available; */
}

.content.large {
    flex-basis: 75%;
    margin-left: 5%;
    margin-right: 0px;
    padding-right: 10px;
    padding-left: 5px;
}

.content.small {
    flex-basis: 25%;
    margin-left: 10px;
}

.divider {
    display: none;
}

.blob {
    border: 1px solid var(--border);
    border-radius: var(--border-radius);
    background: var(--background-alt);
    backdrop-filter: var(--blur);
    -webkit-backdrop-filter: var(--blur);
    box-shadow: var(--shadow);
    padding: 10px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    transition: 0.2s ease all;
    cursor: pointer;
    width: 400px;
    min-height: 200px;
    margin-bottom: 15px;
    flex-basis: 33%;    
}

@media (max-width: 1000px) {
    .blob {
        flex-basis: auto;
    }

    .content-wrapper {
        flex-direction: column;
        height: 100%; 
        min-height: 100%;
    }

    .content {
        overflow: visible;
        flex-basis: 100%!important;
        margin-left: 5%!important;
        margin-right: 5%!important;
    }

    /* .content.small {
        margin-top: 10px;
        padding-bottom: 110px;
    } */

    .content.large {
        margin-bottom: 0;
    }

    .divider {
        display: flex;
        width: 100%;
        border-top: 2px solid var(--background-transparent);
        border-bottom: 2px solid var(--background-transparent);
        height: 5px;
    }
}

.blob:hover {
    transform: scale(1.023);
    z-index: 2;
}
.blob.noscale:hover {
    transform: none;
}

.blob > .blob-icon {
    color: var(--link);
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blob-header {
    color: var(--primary);
    width: 80%;
    margin: 0;
    font-family: 'Camaraderie';
    font-weight: normal;
    text-decoration: underline;
    padding-left: 5px;
    font-size: 1.75em;
    height: 1.75em;
    line-height: 1.75em;
    /* font-variant-caps: small-caps; */
}

.blob > .blob-description {
    color: var(--text);
    width: 85%;
}

.blob.wide {
    width: 100%;
    height: auto;
    cursor: auto;
    flex-basis: 100%;
}

.blob.wide > .blob-header {
    width: 90%;
}

.blob.wide > .blob-description {
    width: 88%;
}

.blob-description > .flavour {
    color: var(--link);
    font-weight: bold;
}

.blob.potentially-overflowing {
    height: auto;
}







.git-container {
    backdrop-filter: var(--blur);
    -webkit-backdrop-filter: var(--blur);
    background-color: var(--background-alt2);
    border: 1px solid var(--border);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    padding: 10px 0px;
    height: calc(100% - 28px);
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin; 
    scrollbar-color: var(--background-alt2) var(--background-alt2); 
    scrollbar-button {
        visibility: hidden;
    }
    scrollbar-corner {
        visibility: hidden;
    }
}

.git-container::-webkit-scrollbar {
    height: 10px; 
    width: 10px;
}

.git-container::-webkit-scrollbar-track {
    background-color: var(--background-transparent);
    width: 100%;
    /* backdrop-filter: blur(10px); */
}

.git-container::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 5px;
}

.git-container::-webkit-scrollbar-button, .git-container::-webkit-scrollbar-corner {
    background-color: var(--background-transparent);
    border-radius: 0 var(--border-radius) 0 0;
}

.git-container::-webkit-scrollbar-button:single-button:vertical:increment {
    border-radius: 0 0 var(--border-radius) 0;
}

.git-container > a, .git-container > a > .blob-header {
    width: 100%;
    text-align: center;
    height: auto;
}

.git-box {
    padding: 20px 5px;
    border-top: 1px solid var(--border);
}

.git-box > .post-head.link {
    cursor: pointer;
    font-family: 'Inconsolata';
}

.git-box > .post-date {
    font-family: 'Inconsolata';
    font-size: 16px;
    margin-left: 2px;
}

.git-box > .post-body {
    margin-left: 5px;
    font-size: 16px;
}

.git-box > .link.repo-link {
    margin-left: 5px;
    font-family: 'Inconsolata';
    font-size: 16px;
    font-weight: normal;
}

.git-box > .link.repo-link:after {
    border-width: 1px !important;
}

body::-webkit-scrollbar {
    height: 10px; 
    width: 10px;
}

body::-webkit-scrollbar-track {
    background-color: var(--background);
    width: 100%;
    /* backdrop-filter: blur(10px); */
}

body::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 5px;
}

body::-webkit-scrollbar-button, body::-webkit-scrollbar-corner {
    background-color: var(--background);
}
