
/* Page Header */
.header {
    /* text-align: center; */
    font-size: 2em;
    border-bottom: var(--border) 4px;
    border-bottom-style: double;
    background-color: var(--background-alt2);
    box-shadow: var(--shadow-color) 0px 2px 10px, var(--shadow-color) 0px -2px 10px;
    position: fixed;
    width: 100%;
    width: -webkit-fill-available;
    top: 0;
    z-index: 3;
    font-family: "Camaraderie";
    /* transition: 0.25s all; */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    /* height: 110px; */
}

.nav-wrapper {
    text-align: center;
    color: black;
    text-shadow: none;
    width: -webkit-fill-available;
    width: -moz-available;
    position: relative;
    z-index: 1;
    margin-bottom: 10px;
    display: block;
    height: 0;
    overflow: hidden;
    font-size: 0.65em;
    transition: 0.25s height, 0.25s padding;
}

.nav-wrapper.active {
    /* display: block; */
    height: var(--nav-dynamic-height);
    padding-top: 15px;
}

.nav-link {
    width: 50%;
    margin: 2px;
    font-family: "Raleway";
    /* background-color: rgba(24, 21, 36, 0.7); */
    /* border-radius: 10px 10px 0 0; */
    border-color: var(--border);
    color: var(--primary);
    border-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-style: none;
    border-right-style: none;
    display: inline-block;
    position: relative;
    transition: color 0.2s ease;
    vertical-align: bottom;
    text-align: center;
    padding: 5px 10px 5px 10px;
    top: 2px;
    cursor: pointer;
    /* box-shadow: rgba(0, 0, 0, 0.5) 0px -2px 10px; */
    /* border-radius: 5px 5px 0 0; */
}

.nav-link:hover,
.nav-link.active {
    /* background-color: var(--primary); */
    color: var(--text-alt);
}

.nav-link::before {
    background-color: var(--primary);
    width: 0;
    height: 100%;
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 50%;
    transition: all 0.2s ease;
    z-index: -1;
}

.nav-link:hover::before,
.nav-link.active::before {
    width: 100%;
    left: 0;
    right: 0;
}

.spacer {
    font-size: 26px;
    padding: 5px 10px 5px 10px;
    color: var(--border);
    display: none;
    transform: translateY(2px);
}

.navbar-toggle i {
    position: absolute;
    top: 32px;
    right: 20px;
    cursor: pointer;
    color: var(--primary);
    font-size: 32px;
    width: auto;
    transition: all 0.25s ease;
}

.navbar-toggle .open-icon {
    opacity: 1;
    transform: none;
}

.navbar-toggle .close-icon {
    opacity: 0;
    transform: rotate(-270deg);
}

.navbar-toggle.active .open-icon {
    transform: rotate(270deg);
    opacity: 0;
}

.navbar-toggle.active .close-icon {
    opacity: 1;
    transform: none;
}

.logo {
    -webkit-text-stroke-color: var(--important);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke: var(--important) 2px;
    cursor: pointer;
    font-weight: normal;
    margin-top: 0px;
    margin-left: 30px;
    paint-order: fill stroke;
    width: min-content;
    display: inline-block;
    font-size: 2em;
    color: black;
    text-shadow: 1px 2px 3px black, -1px 2px 3px black;
}

.logo:before {
    -webkit-text-stroke: 0;
    /* color: var(--text); */
    color: white;
    content: "Owen Bowden";
    font-family: "Raleway";
    font-size: 18px;
    font-weight: normal;
    position: relative;
    text-align: right;
    top: 70px;
    display: block;
    height: 0;
}

.logo:after {
    background-color: black;
    border: 2px solid var(--important);
    box-shadow: 1px 2px 3px black, -1px 2px 3px black;
    content: " ";
    height: 10px;
    position: relative;
    top: -18px;
    width: calc(100% - 2px);
    z-index: -1;
    display: block;
}

@media screen and (min-width: 1010px) {
    /* 768px */
    .header {
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
        align-items: center;
    }
    .nav-wrapper {
        display: flex;
        margin-right: 30px;
        margin-top: 10px;
        flex-direction: row;
        justify-content: flex-end;
        height: auto;
        text-align: right;
    }
    .navbar-toggle {
        display: none;
    }
    .spacer {
        display: block;
    }
    .nav-wrapper .nav-link {
        width: auto;
    }
}
