/*#8d3d8c*/

:root {
    --foreground: #ffffff;
    --background: #151824;
    --background-transparent: rgba(21, 24, 36, 0.5);
    --accent: #b20acb;
    --highlight: #800080;
    --highlight-transparent: rgba(128, 0, 128, 0.8);
    --text: #f1d7df;
    --border: #ffffff;
    --important: #b20acb;
    --bold: #b20acb;
    --link: #0acbb2;
    --background-gradient: linear-gradient(to right, #59c173, #a17fe0, #5d26c1);
    --text-dark: #151824;
}

@font-face {
    font-family: "Camaraderie";
    src: url("font/Camaraderie.otf");
}

@font-face {
    font-family: "Roboto";
    src: url("font/Roboto-Light.ttf");
}

@font-face {
    font-family: "Inconsolata";
    src: url("font/Inconsolata-Regular.ttf");
}

@font-face {
    font-family: "Raleway";
    src: url("font/Raleway-Regular.ttf");
}

@font-face {
    font-family: "Gilroy";
    src: url("font/Gilroy-ExtraBold.otf");
}

@font-face {
    font-family: "Gilroy Light";
    src: url("font/Gilroy-Light.otf");
}

b {
    color: var(--bold);
}

body {
    /* background-color: var(--background); */
    /* background: linear-gradient(to right, rgba(254, 203, 111, 1) 0%, rgba(252, 155, 112, 1) 15%, rgba(237, 106, 111, 1) 30%, rgba(203, 78, 108, 1) 48%, rgba(140, 65, 104, 1) 65%, rgba(81, 60, 99, 1) 82%, #393b62 100%); */
    /* background: linear-gradient(90deg, rgba(87, 12, 14, 1) 0%, rgba(128, 0, 128, 1) 50%, rgba(255, 80, 0, 1) 100%); */
    /* background: linear-gradient(45deg, rgba(196, 72, 0, 1) 0%, rgba(75, 2, 72, 1) 26%, rgba(44, 0, 62, 1) 50%, rgba(75, 2, 72, 1) 73%, rgba(196, 72, 0, 1) 100%); */
    background: var(--background-gradient);
    text-shadow: 1px 1px 5px black, -1px 2px 5px black;
    font-family: "Roboto";
    margin: 0;
    overflow-x: hidden;
    height: max-content;
}

.header {
    font-family: "Camaraderie";
    font-size: 2em;
    /* color: var(--background-transparent); */
    color: black;
    /* height: 101px; */
    width: 100%;
    position: fixed;
    text-shadow: 1px 2px 3px black, -1px 2px 3px black;
    box-shadow: black 0px 2px 10px, black 0px -2px 10px;
    top: 0;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 10;
    height: 3.2em;
    border-bottom: solid var(--border) 2px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0) 50%, var(--foreground) 50%, var(--foreground) calc(50% + 2px), rgba(255, 255, 255, 0) calc(50% + 2px));
}

#header-text {
    margin: 0px 20px 20px 2.5%;
    padding-top: 8px;
    font-weight: normal;
    -webkit-text-stroke-color: var(--accent);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke: var(--accent) 2px;
    paint-order: fill stroke;
    width: min-content;
    cursor: pointer;
}

#header-text:before {
    content: "Owen Bowden";
    font-family: "Raleway";
    color: var(--foreground);
    text-shadow: 1px 2px 3px black, -1px 2px 3px black;
    position: absolute;
    font-size: 18px;
    text-align: right;
    font-weight: normal;
    top: 76px;
    left: calc(2.5% + 106px);
    -webkit-text-stroke: 0;
}

#header-text:after {
    position: absolute;
    /* background-color: var(--background); */
    background-color: black;
    width: 229px;
    height: 10px;
    left: 2.5%;
    box-shadow: 1px 2px 3px black, -1px 2px 3px black;
    top: 65px;
    z-index: -1;
    margin: -1px;
    border: 2px solid var(--accent);
    content: " ";
}

.tab-wrapper {
    text-align: right;
    color: var(--foreground);
    text-shadow: none;
    position: fixed;
    top: 0px;
    right: 0px;
    font-family: "Raleway";
    display: block;
    z-index: 1;
}

#main-tab-wrapper {
    display: none;
}

#nav-tab-wrapper,
#sort-tab-wrapper {
    top: 132px;
    transition: 0.2s all;
    display: none;
}

.tab {
    border-bottom: solid var(--border) 1px;
    background: linear-gradient(135deg, transparent 20.75px, var(--border) 20.75px, var(--border) 21.75px, transparent 21.75px);
    text-align: left;
    font-size: 18px;
    transition: 0.1s padding ease-in;
    cursor: pointer;
    height: 75px;
    padding-right: 30px;
    padding-left: 51px;
    padding-bottom: 4.5px;
    padding-top: 3.5px;
    overflow: hidden;
    text-align: right;
    margin-right: -16px;
    position: relative;
    z-index: 2;
    top: -3px;
    text-shadow: 1px 2px 2px var(--background-transparent), -1px 2px 2px var(--background-transparent);
}

.tab:before {
    content: "";
    position: absolute;
    width: calc(100% - 30px);
    height: 1px !important;
    top: 0;
    left: 30px;
    border-top: 1px solid var(--border);
}

#tab2 {
    padding-right: 40px;
    padding-left: 60px;
    top: -11px;
}

#tab3 {
    padding-right: 50px;
    padding-left: 62px;
    top: -19px;
}

#nav-tab,
#sort-tab {
    background: linear-gradient(135deg, transparent 21.5px, var(--border) 21.5px, var(--border) 22.5px, var(--background) 22.5px);
    font-size: 19px;
    padding-left: 40px;
    padding-top: 4.5px;
    padding-bottom: 3.5px;
}

#home-tab i {
    font-size: 21px
}

#home-tab {
    padding-left: 20px;
    padding-right: 20px;
    top: 26px
}

#nav-tab:hover,
#sort-tab:hover {
    background: linear-gradient(135deg, rgba(0, 0, 0, 0) 21.5px, var(--foreground) 21.5px, var(--foreground) 22.5px, #59c173 22.5px, #a17fe0, #5d26c1) !important;
    padding-right: 60px;
}

#home-tab:hover {
    padding-right: 50px;
}

#tab1:hover {
    padding-right: 60px;
}

#tab2:hover {
    padding-right: 70px;
}

#tab3:hover {
    padding-right: 80px
}

.tab:hover {
    background: linear-gradient(135deg, rgba(0, 0, 0, 0) 20.75px, var(--foreground) 20.75px, var(--foreground) 21.75px, #59c173 21.75px, #a17fe0, #5d26c1) !important;
    color: var(--text-dark);
    text-shadow: none;
}

.tab.active {
    font-weight: bold;
}

.content {
    background: transparent;
    color: var(--text);
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 110px;
    padding-top: 15px;
    /* padding-bottom: 25px; */
    font-size: 18px;
    overflow: hidden;
    display: table;
}

.post-head {
    font-family: Gilroy;
    font-size: 1.3em;
    /* text-decoration: underline; */
    padding-bottom: 0;
    margin-bottom: 0;
    color: var(--important);
}

.post-date {
    font-family: Raleway;
    margin-top: 0;
    padding-top: 0;
    /* text-decoration: underline; */
    color: var(--important);
    font-weight: normal;
}

.post {
    font-family: "Roboto";
    border: 1px solid var(--border);
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 10px;
    /* margin-top: -1px; */
    background-color: var(--background-transparent);
    /* backdrop-filter: blur(10px); */
    width: 75%;
    transition: 0.2s width;
}

.post label {
    display: inline-block;
    float: left;
    clear: left;
    width: 80px;
    margin-right: 20px;
    text-align: right;
}

.post input {
    display: inline-block;
    float: left;
    max-width: 300px;
}

.post textarea {
    width: 100%;
    height: 300px;
}

.id-label {
    font-size: 12px;
    font-family: "Inconsolata";
}

.nav {
    width: 15%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 18px;
    padding-bottom: 0px;
    border: 1px solid var(--border);
    background-color: var(--background-transparent);
    right: 2.5%;
    top: 125px;
    position: fixed;
    font-size: 10px;
    max-height: calc(100% - 160px);
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 1;
    /* for firefox */
    scrollbar-width: none;
}

.nav::-webkit-scrollbar {
    width: 0px;
    visibility: hidden !important;
    display: none !important;
}

#close,
#softFlipper,
#blogFlipper {
    position: fixed;
    border: 1px solid var(--border);
    text-align: center;
    padding-left: 4px !important;
    padding-right: 4px !important;
    cursor: pointer;
    /* width: 24px!important; */
    height: 16px !important;
    transition: 0.25s all;
    font-family: "Inconsolata";
    background-color: var(--background-transparent);
    margin-top: -19px;
    margin-left: 193px;
    font-size: 16px !important;
    display: none;
    text-shadow: none;
    z-index: 1;
    width: unset !important;
    backdrop-filter: blur(5px);
}

#close:hover,
#softFlipper:hover,
#blogFlipper:hover {
    color: var(--text-dark);
}

#softFlipper,
#blogFlipper {
    padding-left: 4px !important;
    padding-right: 4px !important;
    margin-left: -11px !important;
    font-size: 15px !important;
    display: -webkit-box;
}

.nav .link {
    cursor: pointer;
    font-family: "Raleway";
    font-size: 15px
}

.link {
    color: var(--link);
    font-weight: bold;
    text-decoration: none;
    border-style: solid;
    border-color: var(--link);
    border-width: 0;
    position: sticky;
    z-index: 0;
    padding: 0 !important;
}

.link:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px !important;
    bottom: 0;
    left: 0;
    border-bottom: 2px solid;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    box-shadow: black 0px 2px 5px;
    z-index: -1;
}

.link:hover:before {
    visibility: visible;
    width: calc(100% + 1px);
}

hr {
    border: none;
    height: 1px;
    border-top: 1px solid var(--border);
}

.pane {
    transition: 0.25s all;
    position: absolute;
    margin-right: 2.5%;
    opacity: 0;
    overflow: hidden;
    width: 95%;
}

.blob {
    /* background-color: var(--background); */
    background-color: var(--background-transparent);
    /* backdrop-filter: blur(10px); */
    border: 1px solid var(--border);
    padding: 10px;
    padding-bottom: 0;
    margin-bottom: 10px;
    width: 75%;
}

.blob h2 {
    font-size: 1.75em;
    font-family: Gilroy;
    color: var(--important);
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.blob img {
    float: left;
    margin-right: 30px;
    margin-left: 20px;
}

.blob button {
    margin: 5px 0 5px 0;
}

.blob a {
    margin-left: 20px;
    margin-right: 0;
}

.blob p {
    margin-left: 20px;
    margin-right: 20px;
}

.button {
    border: 1px solid var(--border);
    background-color: transparent;
    color: var(--foreground);
    text-align: center;
    font-size: 20px;
    width: 200px;
    transition: all 0.2s;
    cursor: pointer;
    font-family: "Raleway";
    overflow: hidden;
    height: 30px;
    position: sticky;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.2s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: -2px;
    right: -50px;
    transition: 0.2s;
}

.button:hover i {
    color: var(--text-dark);
}

.button:hover span {
    padding-right: 25px;
    color: var(--text-dark);
}

.button:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0%;
    height: 0%;
    background-color: transparent;
    transition: all 0.1s ease-out;
    z-index: -1;
}

.button:hover:before {
    height: 100%;
    width: 100%;
    border-radius: 0;
    /* background-color: var(--highlight); */
    background: var(--background-gradient);
}

.button:hover span:after {
    opacity: 1;
    right: 0px;
    color: var(--text-dark);
}

.button i {
    font-size: 20px;
    width: auto;
    /* padding-bottom: 3px; */
    padding-right: 5px;
}

.row {
    display: -webkit-flex;
    display: flex;
    margin-left: 0px;
    background-color: var(--background-transparent);
    /* backdrop-filter: blur(10px); */
    padding: 10px;
    border: 1px solid var(--border);
}

@media (max-width: 1050px) {
    .row {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}


/* @media only screen and (max-device-width: 800px) {
    .header {
        transform: scale(2);
    }
} */

.column {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 10px;
    text-align: center;
    font-family: Roboto;
}

i {
    font-size: 40px;
    vertical-align: middle;
    padding-bottom: 2px;
    text-align: center;
    width: 50px;
}

.big-button {
    display: inline-block;
    text-align: left;
    font-size: 19px;
    width: 310px;
    height: 62px;
    padding: 10px;
    margin-top: -1px;
}

.big-button i {
    font-size: 40px;
    width: 50px;
    padding-right: 0;
    padding-bottom: 2px;
}

.big-button label {
    font-size: 12px;
    cursor: pointer;
}

.big-button:hover {
    color: var(--text-dark);
}

.head-button {
    width: 105px;
    font-size: 16px;
}

.head-button-wrapper {
    position: fixed;
    top: 10px;
    left: 57%;
}

input,
textarea {
    background-color: transparent;
    color: var(--foreground);
    border: 1px solid var(--border);
    resize: none;
    font-family: "Raleway";
    margin-top: -1px;
    width: 300px;
    padding: 2px;
    transition: 0.25s all;
}

textarea {
    height: 199px;
}

input {
    font-size: 16px;
}

input:hover,
textarea:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

input::placeholder,
textarea::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

h3,
h4 {
    font-family: "Raleway";
}

#time {
    font-weight: normal;
    padding-bottom: 5px;
    font-family: "Gilroy Light";
    font-size: 16px
}

.creeper {
    /*aw man*/
    margin: 2px;
    display: inline-block;
}

h4.creeper {
    font-family: "Gilroy Light";
}

.body-image {
    width: 370px;
    border: 1px solid var(--border);
    box-shadow: 1px 2px 3px black, -1px 2px 3px black;
}

ul {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.gallery {
    width: 100%;
}

.gallery-slide {
    text-align: center;
    display: none;
    animation: fade 1.5s;
    height: 150px;
    margin-top: 5px
}

.museum .gallery-slide {
    height: auto;
}

.gallery-slide img {
    max-width: 100%;
    max-height: 100px;
}

.museum .gallery-slide img {
    max-height: 400px;
    border: 1px solid var(--border);
    box-shadow: 1px 2px 3px black, -1px 2px 3px black;
}

.gallery-slide .lore-img {
    max-height: 100%;
    border: 1px solid var(--border);
    box-shadow: 1px 2px 3px black, -1px 2px 3px black;
}

.gallery-slide h4 {
    margin-top: 0
}

.museum .gallery-slide h4 {
    color: var(--link);
    margin: 5px;
}

.gallery-slide p {
    width: 60%;
    padding-left: 20%;
    padding-right: 20%;
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 250px;
    width: auto;
    height: auto;
    /* margin-top: -190px; */
    padding-top: 15px;
    padding-bottom: 17px;
    padding-left: 17px;
    padding-right: 21px;
    font-weight: bold;
    font-size: 18px;
    border: 1.25px solid var(--border);
    border-radius: 50%;
    font-family: "Roboto";
    text-shadow: none;
    background-color: var(--background-transparent);
    z-index: 1;
    backdrop-filter: blur(5px);
}

.museum .prev,
.museum .next {
    top: 465px;
}

.prev:hover span,
.next:hover span {
    padding-right: initial;
}

.prev span:after,
.next span:after {
    content: '';
    position: initial;
    top: initial;
    right: initial;
}

.prev:hover:before,
.next:hover:before {
    border-radius: 50%;
    width: calc(100% + 1px);
    height: calc(100% + 1px);
}

.next {
    right: 6.1%;
    padding-left: 20px;
    padding-right: 18px;
}

#dots {
    text-align: center;
    cursor: default;
}

.dot {
    width: 15px;
    height: 15px;
    margin: 0 2px;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid var(--border);
    transition: 0.2s all;
    cursor: pointer;
}

.dot:hover,
.dot.active {
    background-color: var(--border);
    border-width: 8.5px;
    width: 0px;
    height: 0px;
}

@media (max-width: 1000px) {
    #nav-tab-wrapper,
    #sort-tab-wrapper {
        display: -webkit-box;
    }
}

@media (max-width: 1000px) {
    .nav {
        right: -230px;
        backdrop-filter: blur(5px);
        width: 200px;
        transition: 0.2s all;
    }
    .post,
    .blob {
        width: auto;
    }
    #close {
        display: -webkit-box
    }
    /* .header {
        width: 68%;
        left: 16%;
        top: 26px;
        transform: scale(1.5);
    } */
}

input[type="checkbox"] {
    opacity: 0;
}

input[type="checkbox"]:checked+label .checkmark {
    background-image: url("../img/CHECKED.png");
}

.checkmark {
    position: absolute;
    /* top: 0; */
    left: -22px;
    height: 16px;
    width: 16px;
    background-image: url("../img/UNCHECKED.png");
    background-size: 16px 16px;
    transition: 0.1s background-image;
}

.nav h2 {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 6px;
    margin-left: -4px;
}

#errmsg {
    transition: 0.1s all;
    color: red;
    font-weight: bold;
    font-size: 16px;
    opacity: 0;
    height: 0;
    display: table-cell;
    margin-top: 5px;
    margin-bottom: 5px;
    vertical-align: middle;
}

#version {
    cursor: pointer;
}

.inner-line {
    display: none;
}