.tab-wrapper {
    color: var(--foreground);
    display: block;
    font-family: "Raleway";
    position: fixed;
    right: 0px;
    text-align: right;
    text-shadow: none;
    top: 0px;
    z-index: 1;
}

#main-tab-wrapper {
    display: none;
}

#nav-tab-wrapper,
#sort-tab-wrapper {
    top: 132px;
    transition: 0.2s all;
}

.tab {
    background: linear-gradient(135deg, transparent 20.75px, var(--border) 20.75px, var(--border) 21.75px, transparent 21.75px);
    border-bottom: solid var(--border) 1px;
    cursor: pointer;
    font-size: 18px;
    height: 75px;
    margin-right: -16px;
    overflow: hidden;
    padding-bottom: 4.5px;
    padding-left: 51px;
    padding-right: 30px;
    padding-top: 3.5px;
    position: relative;
    text-align: left;
    text-align: right;
    text-shadow: 1px 2px 2px var(--background-transparent), -1px 2px 2px var(--background-transparent);
    top: -3px;
    transition: 0.1s padding ease-in;
    z-index: 2;
}

.tab:before {
    border-top: 1px solid var(--border);
    content: "";
    height: 1px !important;
    left: 30px;
    position: absolute;
    top: 0;
    width: calc(100% - 30px);
}

#tab2 {
    padding-left: 60px;
    padding-right: 40px;
    top: -11px;
}

#tab3 {
    padding-left: 62px;
    padding-right: 50px;
    top: -19px;
}

#nav-tab,
#sort-tab {
    background: linear-gradient(135deg, transparent 21.5px, var(--border) 21.5px, var(--border) 22.5px, var(--background) 22.5px);
    font-size: 19px;
    padding-bottom: 3.5px;
    padding-left: 40px;
    padding-top: 4.5px;
}

#home-tab i {
    font-size: 21px;
}

#home-tab {
    padding-left: 20px;
    padding-right: 20px;
    top: 26px;
}

#nav-tab:hover,
#sort-tab:hover {
    background: linear-gradient(135deg, rgba(0, 0, 0, 0) 21.5px, var(--foreground) 21.5px, var(--foreground) 22.5px, #59c173 22.5px, #a17fe0, #5d26c1) !important;
    padding-right: 60px;
}

#home-tab:hover {
    padding-right: 50px;
}

#tab1:hover {
    padding-right: 60px;
}

#tab2:hover {
    padding-right: 70px;
}

#tab3:hover {
    padding-right: 80px
}

.tab:hover {
    background: linear-gradient(135deg, rgba(0, 0, 0, 0) 20.75px, var(--foreground) 20.75px, var(--foreground) 21.75px, #59c173 21.75px, #a17fe0, #5d26c1) !important;
    color: var(--text-dark);
    text-shadow: none;
}

.tab.active {
    font-weight: bold;
}

.pane {
    margin-right: 2.5%;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    transition: 0.25s all;
    width: 95%;
}

@media (max-width: 1000px) {
    #nav-tab-wrapper,
    #sort-tab-wrapper {
        display: -webkit-box;
    }
}