:root {
    --foreground: #ffffff;
    --background: #181524;
    --background-transparent: rgba(24, 21, 36, 0.7);
    --accent: #0ab2cb;
    --highlight: #008080;
    --highlight-transparent: rgba(0, 128, 128, 0.8);
    --text: #bae3c7;
    --border: #ffffff;
    --important: #0ab2cb;
    --bold: #0ab2cb;
    --link: #50ff00;
}

@font-face {
    font-family: "Camaraderie";
    src: url("../../css/Camaraderie.otf");
}

@font-face {
    font-family: "Roboto";
    /*src: url("FOT-ChiaroStd-B.otf");*/
    src: url("../../css/Roboto-Light.ttf");
}

@font-face {
    font-family: "Inconsolata";
    src: url("../../css/Inconsolata-Regular.ttf");
}

@font-face {
    font-family: "Raleway";
    src: url("../../css/Raleway-Regular.ttf");
}

b {
    color: var(--bold);
}

body {
    /* background-color: var(--background); */
    background: linear-gradient(to right, rgba(111, 203, 254, 1) 0%, rgba(112, 155, 252, 1) 15%, rgba(111, 106, 237, 1) 30%, rgba(108, 78, 203, 1) 48%, rgba(104, 65, 140, 1) 65%, rgba(99, 60, 81, 1) 82%, rgba(98, 59, 57, 1) 100%);
    text-shadow: 1px 2px 2px black, -1px 2px 2px black;
    font-family: "Roboto";
    margin: 0;
    overflow-x: hidden;
}

.header {
    font-family: "Camaraderie";
    font-size: 2em;
    color: var(--background-transparent);
    height: 101px;
    width: 100%;
    position: fixed;
    text-shadow: 1px 2px 3px black, -1px 2px 3px black;
    box-shadow: black 0px 2px 10px, black 0px -2px 10px;
    top: 0;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 10;
    /*height: 3.2em;*/
    border-bottom: solid var(--border) 2px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0) 50%, var(--foreground) 50%, var(--foreground) calc(50% + 2px), rgba(255, 255, 255, 0) calc(50% + 2px));
}

#header-text {
    margin: 0px 20px 20px 2.5%;
    padding-top: 8px;
    font-weight: normal;
    -webkit-text-stroke-color: var(--accent);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke: var(--accent) 2px;
    paint-order: stroke fill;
    cursor: pointer;
}

#header-text:before {
    content: "Owen Goodwin";
    font-family: "Raleway";
    color: var(--foreground);
    text-shadow: 1px 2px 3px black, -1px 2px 3px black;
    position: absolute;
    font-size: 18px;
    text-align: right;
    font-weight: normal;
    top: 76px;
    left: calc(2.5% + 102px);
    -webkit-text-stroke: 0;
}

#header-text:after {
    position: absolute;
    background-color: var(--background);
    width: 229px;
    height: 10px;
    left: 2.5%;
    box-shadow: 1px 2px 3px black, -1px 2px 3px black;
    top: 65px;
    z-index: -1;
    margin: -1px;
    border: 2px solid var(--accent);
    content: " ";
}

.content {
    background: transparent;
    color: var(--text);
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 110px;
    /* padding-top: 25px; */
    /* padding-bottom: 25px; */
    font-size: 18px;
}

.post-head {
    font-family: Raleway;
    text-decoration: underline;
    padding-bottom: 0;
    margin-bottom: 0;
    color: var(--important);
}

.post-date {
    font-family: Raleway;
    margin-top: 0;
    padding-top: 0;
    text-decoration: underline;
    color: var(--important);
    font-weight: normal;
}

.post {
    font-family: "Roboto";
    border: 1px solid var(--border);
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    margin-bottom: 10px;
    margin-top: -1px;
    background-color: var(--background-transparent);
    backdrop-filter: blur(10px);
}

.link {
    color: var(--link);
    font-weight: bold;
    text-decoration: none;
    border-style: solid;
    border-color: var(--link);
    border-width: 0;
    position: sticky;
    z-index: 0;
    padding: 0 !important;
}

.link:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px !important;
    bottom: 0;
    left: 0;
    border-bottom: 2px solid;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    box-shadow: black 0px 2px 3px;
}

.link:hover:before {
    visibility: visible;
    width: 100%;
}

.blob {
    /* background-color: var(--background); */
    background-color: var(--background-transparent);
    backdrop-filter: blur(10px);
    border: 1px solid var(--border);
    padding: 10px;
    margin-bottom: 10px;
}

.blob h2 {
    color: var(--important);
    margin-left: 10px;
    text-shadow: 1px 2px 2px black, -1px 2px 2px black;
}

.blob img {
    float: left;
    margin-right: 30px;
    margin-left: 20px;
}

.blob button {
    margin: 5px 0 5px 0;
}

.blob a,
.blob p {
    padding-left: 20px;
    padding-right: 20px;
}

.button {
    border: 1px solid var(--border);
    background-color: transparent;
    color: var(--foreground);
    text-align: center;
    font-size: 20px;
    width: 200px;
    transition: all 0.2s;
    cursor: pointer;
    font-family: "Raleway";
    overflow: hidden;
    height: 31px;
    position: relative;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.2s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: -2px;
    right: -50px;
    transition: 0.2s;
}

.button:hover span {
    padding-right: 25px;
}

.button:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0%;
    height: 0%;
    background-color: var(--highlight-transparent);
    transition: all 0.1s ease-out;
    z-index: -1;
    /* border-radius: 25px 0 0 0; */
}

.button:hover:before {
    height: 100%;
    width: 100%;
    border-radius: 0;
}

.button:hover span:after {
    opacity: 1;
    right: 0px;
}