:root {
    --primary: red;
}

.logo {
    -webkit-text-stroke-color: red;
}

.logo::after {
    border-color: red;
}

.header-text {
    width: 100%;
    display: inline-block;
    -webkit-text-stroke: red 2px;
    cursor: unset;
    font-weight: normal;
    /* margin: 0px 20px 20px 2.5%; */
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 8px;
    paint-order: fill stroke;
}


/* .header-text:after {
    border: 2px solid red;
    background-color: black;
    width: 100%;
    display: block;
    position: relative;
    top: -16px;
    left: auto;
    content: " ";
    height: 10px;
    z-index: -1;
} */

.header-old {
    background: transparent;
    text-align: center;
    /* box-shadow: black 0px 2px 10px, black 0px -2px 10px; */
    color: black;
    font-family: "Camaraderie";
    font-size: 2em;
    /* height: 3.2em; */
    position: relative;
    /* text-shadow: 1px 2px 3px black, -1px 2px 3px black; */
    /* top: 0; */
    /* left: 0; */
    width: 100%;
    /* z-index: 10; */
}

body {
    background: linear-gradient(to bottom, black 0%, red 100%);
    overflow-y: hidden;
}

.content {
    height: 2000px;
    margin-top: 100px;
}

@media (max-width: 1050px) {
    .row {
        -webkit-flex-direction: row;
        flex-direction: row;
    }
}

.tier-entry {
    background: transparent;
    border: 1px solid white;
    color: white;
    font-size: 2em;
    font-weight: bold;
    padding: 0.5em;
    text-align: center;
    text-shadow: 0 0 1px black;
    width: 75%;
}

.column {
    height: auto;
}

input[type="radio"] {
    transform: scale(2);
    width: auto;
}

h3 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 1px black;
    color: white;
    font-family: "Gilroy";
    text-decoration: underline;
    margin-top: 0;
}

.row {
    border: 1px solid white;
    border-radius: 0;
    box-shadow: none;
}