@media screen and (min-width: 1010px) {
    /* 768px */
    .header {
        display: block;
        justify-content: initial;
        padding-bottom: unset;
        align-items: unset;
    }
    .nav-wrapper {
        display: block;
        margin-right: unset;
        margin-top: unset;
        flex-direction: unset;
        justify-content: unset;
        height: 0;
        text-align: center;
    }
    .navbar-toggle {
        display: inline;
    }
    .spacer {
        display: none;
    }
    .nav-wrapper .nav-link {
        width: 50%;
    }
}

@media screen and (min-width: 1575px) {
    /* 768px */
    .header {
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
        align-items: center;
    }
    .nav-wrapper {
        display: flex;
        margin-right: 30px;
        margin-top: 10px;
        flex-direction: row;
        justify-content: flex-end;
        height: auto;
        text-align: right;
    }
    .navbar-toggle {
        display: none;
    }
    .spacer {
        display: block;
    }
    .nav-wrapper .nav-link {
        width: auto;
    }
}