#header-text {
    width: 700px;
    display: inline-block;
    -webkit-text-stroke: red 2px;
    cursor: unset;
}

#header-text:before {
    content: "";
}

#header-text:after {
    border-color: red;
    width: inherit;
    display: block;
    position: relative;
    top: -16px;
    left: auto;
}

.header {
    background: transparent;
    text-align: center;
}

body {
    background: linear-gradient(to bottom, black 0%, red 100%);
    overflow-y: hidden;
}

.content {
    height: 2000px;
}

@media (max-width: 1050px) {
    .row {
        -webkit-flex-direction: row;
        flex-direction: row;
    }
}

.tier-entry {
    background: transparent;
    border: 1px solid white;
    color: white;
    font-size: 2em;
    font-weight: bold;
    padding: 0.5em;
    text-align: center;
    text-shadow: 0 0 1px black;
    width: 75%;
}

.column {
    height: auto;
}

input[type="radio"] {
    transform: scale(2);
    width: auto;
}

h3 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 1px black;
    color: white;
    font-family: "Gilroy";
    text-decoration: underline;
}